*{
  margin: 0;
}
#imageContainer img{
   width: 60%;
   height: 100vh;
  /* opacity: 0.9; */
  overflow: hidden;
}

h1{
   text-align: center;
   font-family: inherit;
   font-size: 50px;
   font-style: normal;
   position: absolute;
   top: 5vh;
   right: 0;
   left: 0;
   color: #404040;
   opacity:
}

#buttonContainer{
  width: 100px;
  height: 50px;
  position: absolute;
  top: 53vh;
  right: -25px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
#buttonOne{
  background-color: #80338;
  float: right;
  height: 40px;
  padding: 10px;
  font-family: inherit;
  font-weight: bolder;
  border-radius: 4px;
}
#buttonOne: hover{
  opacity: 0.5;
}
