*{
  margin: 0;
}

}
div
{
    object-position: center;

}
canvas {
  position: absolute;
  left: 55%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 64%;
  height: 64%;
  overflow: hidden;

}
