* + * {
  margin-top: 1.5em;
}

body {
  background-color: rgba(255, 140, 0, 0.08);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.7;
}

article {
  background-color: #fff;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 0.5em 1em;
  max-width: 640px;
}

.video-item {
  overflow: hidden;
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
}

.video-item iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.video-item img {
  display: block;
  height: auto;
  max-width: 100%;
  height: 270px;
  width: 480px;
}

@supports (display: grid) {

  .video-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 0 -2em;
  }

  .video-item {
    margin-top: 0;
  }

  .video-item iframe {
    border: 0.125rem solid transparent;
  }

  .video-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .video-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .video-item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .video-item:nth-last-child(-n+1):first-child,
  .video-item:nth-last-child(-n+1):first-child ~ .video-item {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
}
